@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  select:focus,
  select:hover,
  textarea,
  textarea:focus,
  textarea:hover,
  input,
  input:focus,
  input:hover{
    font-size: 16px !important;
  }
}

